@page "/"
@using CalendarExtractor.API
@using CalendarExtractor.Web.Client.Data
@using CalendarExtractor.Web.Client.Shared.Components
@inject AzureService AzrueService

<h1>Make a simple API call to read calendars of rooms</h1>

<EditForm Model="@_azureRequestModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table">
        <tbody>
            <tr>
                <td>Client ID</td>
                <td><InputText id="clientId" @bind-Value="_azureRequestModel.ClientId" @bind-style="_inputWidth" /></td>
            </tr>
            <tr>
                <td>Client Secret</td>
                <td><input type="password" id="clientSecret" @bind="_azureRequestModel.ClientSecret" style="width:400px;" /></td>
            </tr>
            <tr>
                <td>Tenant ID</td>
                <td><InputText id="tenantId" @bind-Value="_azureRequestModel.TenantId" @bind-style="_inputWidth" /></td>
            </tr>
            <tr>
                <td>Calendar ID</td>
                <td><InputText id="calendarId" @bind-Value="_azureRequestModel.CalendarId" @bind-style="_inputWidth" /></td>
            </tr>
            <tr>
                <td>Start filter</td>
                <td>
                    <DatePicker InitialDate="@DateTime.Now" DateSelected="OnStartDateSelected"></DatePicker>
                    <h6>@_azureRequestModel.StartTime.ToString("g")</h6>
                </td>
            </tr>
            <tr>
                <td>End filter</td>
                <td>
                    <DatePicker InitialDate="@DateTime.Now" DateSelected="OnEndDateSelected"></DatePicker>
                    <h6>@_azureRequestModel.EndTime.ToString("g")</h6>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="submit">Submit</button>
</EditForm>

@if (_events == null)
{
    <p><em>No events found yet...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var foundEvent in _events)
            {
                <tr>
                    <td>@foundEvent.Subject</td>
                    <td>@DateTimeOffset.FromUnixTimeSeconds(foundEvent.BeginTime).LocalDateTime.ToString("g")</td>
                    <td>@DateTimeOffset.FromUnixTimeSeconds(foundEvent.EndTime).LocalDateTime.ToString("g")</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private AzureRequestModel _azureRequestModel = new AzureRequestModel();
    private IEnumerable<calendar_information_reply> _events;
    private string _inputWidth = "width:400px;";

    private async void HandleValidSubmit()
    {
        _events = await AzrueService.ReadCalendarEventsFor(_azureRequestModel);
    }

    public void OnStartDateSelected(DateTime dt)
    {
        _azureRequestModel.StartTime = dt;
    }

    public void OnEndDateSelected(DateTime dt)
    {
        _azureRequestModel.EndTime = dt;
    }
}
